.flex {
 display: grid;
 grid-template-columns: .25fr 1fr .5fr;
 grid-gap: 20px;
 border: 4px solid black
}

 .flex-child {

 border: 2px solid yellow
}

.flex-child-side {
 border: 2px solid yellowgreen
}

.contactPage {
 text-align: center;
}

.button {
 background-color: #4CAF50;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 15px 40px 0px 60px;
 cursor: pointer;
}

.button {
 background-color: grey;
 color: whitesmoke;
 width: 100%;
 max-width: 175px;
 }  

